<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}">

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/coordinatorstyle/runners.css}"/>
</head>
<body class="align">

<div class="register-top flex-container">
    <form th:action="@{/admin/main}">
        <button type="submit" class="register-back">Назад</button>
    </form>
    <h1><b>MARATHON SKILLS 2018</b></h1>
    <form th:action="@{/logout}" method="post">
        <button type="submit" class="register-back" style="margin-right: 20px">Выйти</button>
    </form>
</div>

<div style="height: 148vw">
    <div style="margin-top: 5vh">
        <h2>Управление пользователями</h2>
    </div>

    <div class="flex-container" style="margin-top: 5vh">
        <div class="flex-one">
            <form th:action="@{/admin/newUser}">
                <button style="width: 15vw;margin-left: 10vw;">
                    <img th:src="@{/images/plus.png}" width="15px">
                    Добавление <br> нового
                </button>
            </form>
        </div>

        <form th:action="@{/admin/sortUser}" method="post" class="flex-container flex-one">
            <div class="text-right" style="line-height: 1">
                <h4><label>Фильтр по ролям:</label></h4><br>
                <h4><label>Сортировать по:</label></h4><br>
                <h4><label>Поиск:</label></h4><br>
            </div>

            <div style="text-align: left">
                <select class="input-field1" name="sortByRole">
                    <option value="All ROLES">Все роли</option>
                    <option value="ROLE_RUNNER">Бегун</option>
                    <option value="ROLE_COORDINATOR">Координатор</option>
                    <option value="ROLE_ADMIN">Администратор</option>
                </select><br/>
                <select class="input-field" name="sortByAttr">
                    <option value="Имя">Имя</option>
                    <option value="Фамилия">Фамилия</option>
                    <option value="Email">Email</option>
                </select><br/>
                <input type="text" placeholder="Поиск" name="sortBySearch" class="input-field"><br/>

                <button type="submit" class="upload-button" style="margin-left: 1.5vw">Обновить</button>
            </div>
        </form>
    </div>

    <div th:if="${#lists.size(authorities)!=0}">
        <p><h4><b th:text="${'Всего пользователей:'+#lists.size(authorities)}"></b></h4></p>
        <table class="table table-striped table-bordered" style="width: 80vw;margin-left: 10vw;">
            <thead style="background-color: #797979">
            <tr>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Email</th>
                <th>Роль</th>
                <th></th>
            </tr>
            </thead>
            <tr th:each="authority : ${authorities}">
                <td th:text="${authority.user.firstName}">Tasty Goodnees 3</td>
                <td th:text="${authority.user.lastName}">55</td>
                <td th:text="${authority.user.username}">Tasty Goodnees 3</td>
                <td th:each="auth : ${authority.user.authorities}">
                    <p th:text="${auth.authority}"></p>
                </td>
                <td>
                    <a href="#" th:href=" @{'/admin/editUser/'+${authority.user.username}}" class="btn"
                       style="background-color: #DCDCDC;border: 1px solid;color: black">Edit</a>
                </td>
            </tr>
        </table>
    </div>
    <div style="margin-top: 10vh;" th:unless="${#lists.size(authorities)!=0}">
        <h4><b>Ничего не найдено</b></h4>
    </div>
</div>
</div>

<div class="register-bot">
    <h4 style="color: white" th:text="${countDown}"></h4>
</div>

</body>
</html>