body img {
    cursor: pointer
}

h4 {
    color: #4a4848;
}

h5 {
    color: #4a4848;
}

h2 {
    color: #4a4848;
}

.ml2 {
    margin-left: 1vw;
}

.align {
    text-align: center;
}

.register-top {
    background-color: #6b6a6a;
    height: 5vw;
}

.register-top h1 {
    font-family: 'Open Sens Semibold', sans-serif;
    color: white;
    font-size: 30pt;
    padding-top: 1%;
    padding-left: 40px;
    flex: 2;
    padding-right: 50vw;
}

.register-back {
    cursor: pointer;
    height: 5vh;
    width: 5vw;
    border-radius: 10px;
    font-size: 15pt;
    margin-top: 2vh;
    margin-left: 20px;
}

.flex-container {
    display: flex;
}

.register-bot {
    background-color: #6b6a6a;
    height: 4.2vw;
    color: white;
    font-size: 20pt;
    padding-top: 1%;
}

.register-middle {
    height: 35.5vw;
}
